# Ambientes e Chaves
.env
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
instance/
.pytest_cache/
.coverage
htmlcov/

# Node.js / Frontend
frontend/node_modules/
frontend/dist/
frontend/.output/
frontend/.nuxt/
.npm
*.log

# Docker & OS
.DS_Store
Thumbs.db
postgres_data/